# Dependency directories
node_modules/
/frontend/node_modules
/server/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
dist
.next
out
.nuxt
.svelte-kit
.vuepress/dist

# Environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
server/.env

# Caches
.eslintcache
.cache/
*.tsbuildinfo

# Misc
.DS_Store
.vscode/
jules-scratch/
